.blogSection {
  padding: 40px 16px;
}

.blogSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blogContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.blogContent h3 {
  font: 20px;
  line-height: 44px;
  letter-spacing: -2%;
  margin: 0;
  margin-bottom: -5px;
}

.divider {
  height: 1px;
  background-color: #eaecf0;
}

.blogContent p {
  font-size: 15px;
  line-height: 160%;
  color: #667085;
  margin: 0;
}

.blogBtn {
  font-size: 15px;
  color: #ffffff;
  background: linear-gradient(90deg, #101828, #233250);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, #243961, #101828);
  padding: 10px 15px;
  display: flex;
  gap: 10px;
  width: fit-content;
  cursor: pointer;
}
